.userdash-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffd3e5; 
  background-size: cover;
  background-position: center;
}

.book-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: pink;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  overflow-y: auto;
}

.purple-text {
  color: purple;
}

/* Navigation bar styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px;
  color: white;
}

.nav-logo {
  font-family: Outfit;
  font-size: 50px;
  font-weight: 1000;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 25px;
  gap: 90px;
}

.nav-book {
  border-radius: 50px;
  padding: 10px 38px;
  background: #fff;
  color: #262626;
}

.nav-menu li a {
  color: inherit;
  text-decoration: none;
}

.nav-menu li:hover::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.userdash-content {
  margin-top: 100px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333; 
}

.userdash-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333; 
}

.appointments-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.appointment-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointment-item p {
  margin: 0;
  margin-bottom: 10px;
  color: #555; 
}

.appointment-item p strong {
  font-weight: bold;
  color: #333; 
}

.appointment-item button {
  background-color: #ff85a2; 
  color: #fff; 
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-item button:hover {
  background-color: #e0466b; 
}

.userdash-background {
  padding: 20px;
  overflow-y: auto; 
}


.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px; 
}


